if SHIELD_EDGE_LEFT

config ZMK_KEYBOARD_NAME
    default "edge"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_EDGE_LEFT

if SHIELD_EDGE_LEFT || SHIELD_EDGE_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_EDGE_LEFT || SHIELD_EDGE_RIGHT
